.konte-accordion__title {
	@include font-size(24/16);
	font-weight: 500;
	padding: 0 195px 0 0;
	margin: 0;
	position: relative;

	a {
		color: inherit;
		display: block;
		padding: 34px 0;
		border-top: 1px solid $color__lighter;
	}
}

.konte-accordion__item:first-child .konte-accordion__title a {
	border-top-width: 0 !important;
}

.konte-accordion__content {
	padding: 0 195px 32px 0;
	display: none;
}

.konte-accordion__icon {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.konte-accordion__icon--default {
	color: $color__light;
	width: 20px;
	height: 20px;
	transition: 0.4s;

	&:before,
	&:after {
		content: "";
		display: block;
		position: absolute;
		border-style: solid;
	}

	&:before {
		transform: translate(0, -50%);
		left: 0;
		top: 50%;
		border-width: 2px 0 0 0;
		width: 100%;
	}

	&:after {
		transform: translate(-50%, 0);
		left: 50%;
		top: 0;
		border-width: 0 0 0 2px;
		height: 100%;
	}

	.konte-tab--active & {
		color: #666;
		transform: rotate(45deg) translate(-35%,-35%);
	}
}