.konte-carousel-outside-visible--yes .konte-banner-carousel,
.konte-banner-carousel--outside-visible {
	overflow: visible;
}

.konte-banner-carousel--slides-autowidth {
	.konte-banner-carousel__banner {
		width: auto;
		max-width: 100%;
	}
}

.konte-banner-carousel__banner {
	position: relative;
	overflow: visible;
}

.konte-banner-carousel__slide-index {
	top: 0;
	opacity: 1;
	display: flex;
	align-items: center;
}