.konte-banner-grid__banner--content-center {
	.konte-banner-grid__banner-content {
		width: fit-content;
		text-align: center;
	}
}

.konte-banner-grid__banner--align-left {
	.konte-banner-grid__banner-content {
		text-align: left;
	}
}

.konte-banner-grid__banner--align-center {
	.konte-banner-grid__banner-content {
		text-align: center;
	}
}

.konte-banner-grid__banner--align-right {
	.konte-banner-grid__banner-content {
		text-align: right;
	}
}