.konte-banner__image-wrapper {
	display: block;
	overflow: hidden;
	transition: 0.3s;
}

.konte-banner-content--top-center,
.konte-banner-content--center,
.konte-banner-content--bottom-center {
	text-align: center;
	width: 100%;
}

.konte-banner-content--center {
	left: 50%;
	transform: translate(-50%, -50%);
}

.konte-banner-content--right {
	text-align: right;
	left: auto;
	right: 0;
}

.konte-banner-content--top-center {
	top: 0;
	left: 0;
	transform: none;
}

.konte-banner-content--top-left {
	top: 0;
	transform: none;
}

.konte-banner-content--top-right {
	text-align: right;
	top: 0;
	right: 0;
	left: auto;
	transform: none;
}

.konte-banner-content--bottom-left {
	top: auto;
	bottom: 0;
	transform: none;
}

.konte-banner-content--bottom-center {
	top: auto;
	bottom: 0;
	left: 0;
	transform: none;
}

.konte-banner-content--bottom-right {
	text-align: right;
	top: auto;
	bottom: 0;
	left: auto;
	right: 0;
	transform: none;
}

.konte-banner--elementor {
	.konte-banner__tagline {
		margin: 0 0 30px;
	}

	.konte-banner__text {
		margin: 0 0 30px 0;
	}

	.konte-banner__description {
		margin: 0 0 20px 0;
	}

	.konte-banner__button.konte-button {
		margin: 0;
	}
}

.konte-banner-content--under-image {
	position: static;
	transform: none;
	padding: 30px 0 0 0;
}

.konte-banner--hover-none:hover img {
	transform: none;
}

.konte-banner--hover-zoomin:hover img {
	transform: scale(1.1);
}

.konte-banner--hover-zoomout {
	img {
		transform: scale(1.1);
	}

	&:hover img {
		transform: scale(1);
	}
}

.konte-banner--hover-shadow {
	&,
	> a,
	.konte-banner__image-wrapper {
		overflow: visible;
	}

	img {
		transition: box-shadow 0.5s;
	}

	&:hover img {
		transform: none;
		box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.1);
	}
}

.konte-banner--button-visible-hover {
	.konte-banner-content--bottom-left,
	.konte-banner-content--bottom-right,
	.konte-banner-content--bottom-center {
		> * {
			transform: translateY(52px);
			transition: 0.4s;
		}
	}

	&:hover {
		.konte-banner-content--bottom-left,
		.konte-banner-content--bottom-right,
		.konte-banner-content--bottom-center {
			> * {
				transform: none;
			}

			.konte-button {
				transition-delay: 0.1s;
			}
		}
	}
}