.konte-button-wrapper--align-left {
	text-align: left;
}

.konte-button-wrapper--align-center {
	text-align: center;
}

.konte-button-wrapper--align-right {
	text-align: right;
}

.konte-button-wrapper--align-justify .konte-button {
	text-align: center;
	width: 100%;
}