.konte-carousel--swiper {
	~ .konte-carousel-navigation--arrow {
		border: 0;

		.svg-icon {
			@include font-size(32/16);
		}

		&:hover {
			color: inherit;
			background: transparent;
		}
	}

	~ .konte-carousel-navigation--angle {
		text-align: center;

		.svg-icon {
			@include font-size(1);

			svg {
				vertical-align: 0;
			}
		}
	}

	~ .konte-carousel-navigation--prev {
		left: -175px;
	}

	~ .konte-carousel-navigation--next {
		right: -175px;
	}

	~ .konte-carousel-navigation--arrow.konte-carousel-navigation--next {
		.svg-icon {
			transform: rotate(180deg);
		}
	}

	&.konte-carousel--nav-both,
	&.konte-carousel--nav-dots {
		padding-bottom: 50px;

		~ .konte-carousel__arrow {
			top: calc(50% - 50px/2);
		}
	}

	&.swiper-container-horizontal .swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 12px;
	}
}

.konte-carousel__arrow {
	transition: 0.4s;
	top: 50%;
	transform: translateY(-50%);
}

.konte-carousel__pagination {
	.swiper-pagination-bullet {
		font-size: 0;
	}
}


.konte-carousel-arrows--top,
.konte-carousel-arrows--top-left,
.konte-carousel-arrows--top-right {
	.konte-carousel--swiper {
		padding-top: 115px;
	}

	.konte-carousel__arrow {
		top: 0;
		bottom: auto;
		left: 50%;
	}
}

.konte-carousel-arrows--bottom,
.konte-carousel-arrows--bottom-left,
.konte-carousel-arrows--bottom-right {
	.konte-carousel--swiper {
		padding-bottom: 115px;
	}

	.konte-carousel__arrow {
		top: auto;
		bottom: 0;
		left: 50%;
	}
}

.konte-carousel-arrows--top,
.konte-carousel-arrows--bottom {
	.konte-carousel-navigation--next {
		transform: translate(75%, 0);
	}

	.konte-carousel-navigation--prev {
		transform: translate(-75%, 0);
	}
}

.konte-carousel-arrows--top-left,
.konte-carousel-arrows--bottom-left {
	.konte-carousel__arrow {
		left: 0;
	}

	.konte-carousel-navigation--next {
		transform: translate(150%, 0);
	}

	.konte-carousel-navigation--prev {
		transform: none;
	}
}

.konte-carousel-arrows--top-right,
.konte-carousel-arrows--bottom-right {
	.konte-carousel__arrow {
		left: auto;
		right: 0;
	}

	.konte-carousel-navigation--next {
		transform: none;
	}

	.konte-carousel-navigation--prev {
		transform: translate(-150%, 0);
	}
}
