.konte-heading-title {
	padding: 0;
	margin: 0;
	line-height: 1;
}

.konte-heading-title--xsmall {
	@include font-size(1);
	font-weight: 400;
}

.konte-heading-title--small {
	@include font-size(20/16);
	font-weight: 400;
}

.konte-heading-title--medium {
	@include font-size(30/16);
	font-weight: 400;
}

.konte-heading-title--large {
	@include font-size(40/16);
	font-weight: 400;
}

.konte-heading-title--xlarge {
	@include font-size(70/16);
	font-weight: 400;
}
