.konte-post-grid--elementor {
	display: flex;
	flex-wrap: wrap;

	&::before,
	&::after {
		display: none;
	}

	.post,
	.hentry {
		float: none;
	}
}

.konte-post-carousel--elementor {
	overflow: visible;

	.hentry {
		padding: 0;
	}
}