.konte-product-masonry--elementor {
	ul.products {
		display: grid;
		gap: 0;
		grid-template-columns: repeat(4, 25%);
		grid-template-rows: auto;
		grid-auto-rows: 1fr;
		grid-auto-flow: row dense;

		&:before,
		&:after {
			display: none;
		}
	}

	li.product {
		width: auto;

		&:nth-child(15n+2),
		&:nth-child(15n+6),
		&:nth-child(15n + 13) {
			grid-column: span 2;
			grid-row: span 2;

			.product-inner {
				height: 100%;
				display: flex;
				flex-direction: column;
			}

			.product-thumbnail {
				flex: 1;

				> a,
				.slick-list,
				.slick-slide a {
					display: block;
					height: 100%;
					overflow: hidden;
				}

				.slick-track,
				.slick-slide,
				.slick-slide div {
					height: 100%;
				}

				img {
					object-fit: cover;
					height: 100%;
					max-width: none;
				}
			}
		}
	}
}

@media (min-width: 1024px) {
	.konte-product-masonry--elementor {
		ul.products.columns-4 li.product {
			width: auto;
		}

		.woocommerce-loop-product__title {
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			max-height: 1.55556em;
		}
	}
}

@media (max-width: 1023px) {
	.konte-product-masonry--elementor {
		ul.products {
			display: flex;

			li.product {
				&:nth-child(15n+2),
				&:nth-child(15n+6),
				&:nth-child(15n + 13) {
					.product-inner {
						height: auto;
					}

					.product-thumbnail {
						img {
							object-fit: none;
							height: auto;
							max-width: 100%;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.konte-product-masonry--elementor {
		ul.products .konte-product-masonry__head {
			width: 100%;
		}

		.konte-product-masonry__title {
			word-spacing: normal;
		}
	}
}