.konte-product-carousel--elementor {
	&.konte-carousel--swiper {
		margin-left: -20px;
		margin-right: -20px;
	}

	ul.products {
		position: relative;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		z-index: 1;
		display: flex;
		transition-property: transform;
		box-sizing: content-box;
		transform: translate3d(0px, 0, 0);
		flex-wrap: nowrap;

		li.product {
			margin-bottom: 0;
		}
	}

	li.product {
		flex-shrink: 0;
		width: 100%;
		height: 100%;
		position: relative;
		transition-property: transform;
	}

	~ .konte-carousel__arrow {
		top: calc(50% - 80px/3);
	}

	&.konte-carousel--nav-both ~ .konte-carousel__arrow {
		top: calc(50% - 130px/3);
	}
}

.konte-product-carousel2--elementor {
	padding-bottom: 100px;

	&.konte-carousel--nav-dots {
		padding-bottom: 70px;
	}

	&.konte-carousel--swiper {
		overflow: visible;

		~ .konte-carousel__arrow {
			top: auto;
			bottom: 0;
			transform: none;
		}
	}

	~ .konte-carousel-navigation--prev {
		left: 0;
	}

	~ .konte-carousel-navigation--next {
		right: auto;
		left: 60px;
	}

	ul.products {
		flex-wrap: nowrap;
	}
}