.konte-tab__title {
	@include font-size(20/16);
	font-weight: 500;
	color: $color__gray;

	&:hover {
		color: $color__dark;
	}

	a {
		color: inherit;
		font-size: inherit;
		font-weight: inherit;
		display: inline-block;
	}

	&.konte-tab--active {
		color: $color__dark;
	}
}

.konte-tab__content {
	display: none;
}

.konte-tabs--horizontal {
	.konte-tabs__tabs {
		text-align: center;
		display: flex;
		justify-content: center;
	}

	.konte-tabs__tabs--left {
		text-align: initial;
		justify-content: flex-start;
	}

	.konte-tabs__tabs--justify {
		justify-content: space-between;
	}

	.konte-tab__title {
		padding: 0 45px;
		display: inline-block;
	
		&:first-child {
			padding-left: 0;
		}
	
		&:last-child {
			padding-right: 0;
		}

		a {
			@include underline-hover();

			&:after {
				border-bottom-width: 2px;
			}
		}

		&.konte-tab--active a {
			&:after {
				width: 100%;
				left: 0;
			}
		}
	}

	.konte-tab__content {
		padding: 36px 0;
	}
}

.konte-tabs--vertical {
	display: flex;

	.konte-tabs__tabs {
		text-align: left;
		flex-shrink: 0;
		padding-right: 100px;
	}

	.konte-tab__title {
		padding: 14px 0;
		position: relative;

		&:first-child {
			margin-top: -14px;
		}

		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			width: 0;
			border-bottom: 2px solid;
			transition: width 0.4s;
		}

		a {
			transition: color 0.4s, transform 0.4s;
		}

		&.konte-tab--active {
			&:before {
				width: 20px;
			}

			a {
				transform: translateX(30px);
			}
		}
	}

	.konte-tab__content {
		text-align: initial;
	}
}

.konte-tabs {
	.konte-tab__title--mobile {
		display: block;
		padding: 14px 0;
		border-top: 1px solid $color__lighter;
	}
}

@media (min-width: 768px) {
	.konte-tab__title--mobile {
		display: none !important;
	}
}

@media (max-width: 767px) {
	.konte-tabs__tabs {
		display: none;
	}

	.konte-tab__content {
		padding: 36px 0;
	}

	.konte-tabs--vertical {
		.konte-tab__title {
			&:before {
				display: none;
			}
		}
	}
}