.konte-testimonial-slideshow {
	display: flex;
	overflow: hidden;
}

.konte-testimonial-slideshow__photos {
	width: 50%;
}

.konte-testimonial-slideshow__content {
	color: #fff;
	padding: 63px 100px 40px 100px;
	background-color: $color__dark;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.konte-testimonial {
		display: block;
	}

	.konte-testimonial__content {
		line-height: 1.6667;
		margin-bottom: 70px;
	}

	.konte-testimonial__company {
		color: inherit;
	}

	.konte-carousel__pagination {
		position: static;
		text-align: initial;
		margin-top: auto;
		margin-left: -10px;
		margin-right: -10px;
	}

	.swiper-pagination-bullet {
		@include font-size(18/16);
		color: inherit;
		text-align: center;
		width: auto;
		height: auto;
		min-width: 20px;
		margin: 0 10px;
		background: transparent;
		border-radius: unset;
		border-bottom: 2px solid transparent;
		opacity: 1;
	}

	.swiper-pagination-bullet-active {
		border-bottom-color: inherit;
	}
}

.konte-testimonial-slideshow__quotes {
	margin: 100px 0 100px;
	width: 100%;
}

.konte-testimonial-slideshow__title {
	@include font-size(40/16);
	margin-top: 0;
	margin-bottom: auto;
}

@media (max-width: 991px) {
	.konte-testimonial-slideshow {
		display: block;

		> * {
			width: 100%;
		}
	}

	.konte-testimonial-slideshow__quotes {
		margin: 40px 0;

		.konte-testimonial__content {
			margin-bottom: 25px;
		}
	}

	.konte-testimonial-slideshow__content {
		padding: 40px;
	}
}

@media (max-width: 767px) {
	.konte-testimonial-slideshow__quotes {
		.konte-testimonial {
			text-align: initial;
		}
	}
}