.header-items .list-dropdown {
	@include font-size(1);
	height: 100%;

	.dropdown,
	.current {
		height: 100%;
	}

	.current {
		padding-bottom: 0;
		display: flex;
		align-items: center;

		&:before,
		&:after {
			display: none;
		}
	}

	ul {
		text-align: left;
		margin-top: 2px;

		&:before {
			content: "";
			position: absolute;
			top: -2px;
			left: 0;
			width: 100%;
			height: 2px;
		}

		a {
			@include font-size(14/16);
		}
	}
}