.header-mobile {
	height: 60px;

	.konte-container-fluid {
		display: flex;
		align-items: center;
		height: 100%;
	}

	button {
		line-height: inherit;
		padding: 0;
		background: transparent;
	}

	&.logo-center {
		.mobile-menu-hamburger,
		.mobile-header-icons {
			flex: 1;
		}
	}

	&.logo-left {
		.site-branding {
			flex: 1;
			padding: 0 15px;
		}
	}
}

.mobile-header-icons {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	> * {
		margin-left: 15px;
	}
}

.header-mobile-account {
	> a {
		line-height: 1;
	}
}

.mobile-menu-panel {
	hr.divider {
		min-height: 1px;
		margin: 15px 0;
	}

	.header-mobile {
		flex-shrink: 0;
	}

	.list-dropdown {
		.dropdown {
			float: right;
			margin-top: 2px;

			.current {
				font-weight: 400;

				&:before,
				&:after {
					display: none;
				}
			}
		}
	}
}

.mobile-menu__search-form {
	label {
		display: block;
		position: relative;
	}

	.search-icon {
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -13px;
	}

	.search-field {
		@include font-size(14/16);
		width: 100%;
		padding: 13px 0 13px 30px;
		border-bottom-width: 1px;
	}
}

.mobile-menu__nav {
	ul {
		margin: 0;
		list-style: none;
		line-height: 1.2;
	}

	.menu {
		padding: 0;

		> li {
			padding: 15px 0;
		}
	}

	.sub-menu {
		padding-left: 30px;
		margin-top: 30px;
		border-left: 1px solid $color__lighter;
		display: none;

		> li {
			padding: 15px 0;

			&:first-child {
				padding-top: 0;
			}

			&:last-child {
				padding-bottom: 0;
			}

			> a {
				@include font-size(1);
			}
		}

		:first-child {
			padding-top: 0;
		}

		ul {
			li {
				padding: 10px 0;
			}

			a {
				@include font-size(14/16);
			}
		}
	}

	.current-menu-ancestor > .sub-menu,
	.current-menu-item > .sub-menu {
		display: block;
	}
}

.mobile-menu__cart-icon,
.mobile-menu__wishlist-icon {
	float: right;
	margin-top: 4px;

	.counter {
		vertical-align: 4px;
	}
}
