.footer-widgets {
	.footer-widgets-area {
		&:first-child {
			padding-right: 15px;
			padding-left: 40px;
		}

		&:last-child {
			padding-right: 40px;
			padding-left: 15px;
		}
	}
}

.footer-widgets-flex .footer-widgets-area:last-child {
	text-align: left;
}

.footer-main .switchers .list-dropdown {
	&:first-child {
		margin-left: 40px;
	}

	&:last-child {
		margin-left: 0;
	}
}

.footer-main.items-vertical {
	.footer-right {
		align-items: flex-end;
	}
}

.footer-main.items-horizontal {
	.footer-left {
		> :first-child {
			margin-right: 0;
		}

		> :last-child {
			margin-right: 40px;
		}
	}

	.footer-right {
		> :first-child {
			margin-left: 40px;
		}

		> :last-child {
			margin-left: 0;
		}
	}
}

.gotop {
	right: auto;
	left: 60px;
}