.header-left-items {
	> * {
		margin-right: 0;
		margin-left: 30px;

		&:last-child {
			margin-left: 0;
		}
	}

	.hamburger-menu:first-child {
		margin-right: 0;
		margin-left: 34px;
	}
}

.header-right-items {
	> * {
		&:first-child {
			margin-left: 30px;
		}

		&:last-child {
			margin-left: 0;
		}
	}
}

.mobile-header-icons {
	> * {
		margin-left: 0;
		margin-right: 25px;

		&:first-child {
			margin-right: 0;
		}
	}
}

.header-search {
	.search-field {
		left: auto;
		right: 0;
		padding-left: 0;
		padding-right: 35px;
	}

	.quick-links {
		text-align: right;
	}
}

.header-right-items .header-search.icon .search-field {
	left: 0;
	right: auto;
}

.header-right-items .header-search .quick-links {
	left: 0;
	right: auto;
}

.header-center-items .header-search.form {
	text-align: right;
}

.transparent .header-right-items .header-search.icon .search-field {
	&:focus,
	&.focused {
		padding-right: 15px;
		margin-left: -5px;
		margin-right: 0;
	}
}

.transparent .header-left-items .header-search.icon .search-field {
	&:focus,
	&.focused {
		padding-left: 15px;
		padding-right: 30px;
		margin-left: 0;
		margin-right: -5px;
	}
}

.header-v10 {
	.header-main {
		.header-left-items {
			left: auto;
			right: 0;
			padding-left: 0;
			padding-right: 60px;
		}

		.site-branding {
			left: auto;
			right: 0;
			margin-right: 60px;
			margin-left: 0;
		}

		.main-navigation {
			text-align: right;
		}
	}

	&.transparent {
		right: auto;
		left: 0;
	}
}

.hamburger-fullscreen .socials-menu li:last-child {
	padding-right: 0;
}
