.nav-menu {
	> li {
		&:first-child {
			padding-right: 0;
			padding-left: 17px;
		}

		&:last-child {
			padding-left: 0;
			padding-right: 17px;
		}
	}

	li li {
		text-align: right;

		ul {
			left: auto;
			right: 100%;
			transform: translate(-10px, 0);
		}
	}

	ul {
		left: auto;
		right: 20px;
	}
}

.main-navigation {
	li ul {
		left: auto;
		right: -40px;
	}

	li li ul {
		margin-left: 0;
		margin-right: 3px;

		&:before {
			left: auto;
			right: -3px;
		}
	}

	.mega-menu {
		left: auto;
		right: 0;
	}
}

.header-vertical .main-navigation .nav-menu > li > a:after {
	right: -60px;
	left: auto;
}

.header-vertical .main-navigation li ul {
	right: 100%;
	left: auto;
}

.header-vertical .main-navigation .sub-menu ul {
	padding-left: 0;
	padding-right: 20px;
}

.socials-menu {
	li:first-child {
		padding-left: 12px;
		padding-right: 0;
	}

	li:last-child {
		padding-right: 12px;
		padding-left: 0;
	}
}

.mobile-menu__nav {
	.sub-menu {
		border-left: 0;
		border-right: 1px solid $color__lighter;
	}
}

.mobile-menu__cart-icon,
.mobile-menu__wishlist-icon {
	float: left;
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.nav-previous {
		float: right;
	}

	.nav-next {
		float: left;
		text-align: left;
	}
}

.post-navigation {
	.nav-links .nav-previous + .nav-next {
		border-left: 0;
		border-right: 1px solid $color__lighter;
	}

	.nav-previous {
		padding-left: 30px;
		padding-right: 0;

		img {
			margin-left: 20px;
			margin-right: auto;
		}
	}

	.nav-next {
		padding-right: 30px;
		padding-left: 0;

		img {
			margin-right: 20px;
			margin-left: auto;
		}
	}
}

.pagination,
.comments-pagination {
	.nav-links {
		> a,
		> span {
			margin-right: auto;
			margin-left: 6px;

			&:last-child {
				margin-left: auto;
			}
		}

		.next .svg-icon {
			margin-right: 10px;
			margin-left: auto;
			transform: rotate(180deg);
		}

		.prev .svg-icon {
			margin-left: 10px;
			margin-right: auto;
			transform: rotate(180deg);
		}
	}
}

.breadcrumbs {
	.delimiter {
		transform: rotate(180deg);
	}
}
