.entry-header {
	.cat-links {
		padding-left: 0;
		padding-right: 30px;

		&:before {
			left: auto;
			right: 0;
		}
	}

	.entry-thumbnail:after {
		left: auto;
		right: 15px;
	}
}

.entry-meta {
	display: flex;
	flex-wrap: wrap;

	.posted-on,
	.total-shares {
		margin-right: 0;
		margin-left: 26px;
	}

	.svg-icon {
		margin-right: 0;
		margin-left: 6px;
	}
}

.entry-footer {
	.tags-links a {
		margin-right: 0;
		margin-left: 6px;
	}
}

.social-share {
	a {
		margin-right: auto;
		margin-left: 20px;

		i {
			margin-right: auto;
			margin-left: 20px;
		}
	}

	.social-list {
		text-align: right;
		padding-left: 0;
		padding-right: 10px;
		left: auto;
		right: 100%;
		transform: translateX(-10px);
	}
}

.author-info {
	.author-vcard,
	.author-description,
	.author-socials {
		padding-left: 0;
		padding-right: 110px;
	}

	.avatar {
		left: auto;
		right: 0;
	}

	.author-socials a {
		margin-right: auto;
		margin-left: 20px;

		&:last-child {
			margin-left: auto;
		}
	}
}

.hfeed {
	.hentry {
		.cat-links {
			padding-right: 0;
		}

		.post-thumbnail {
			margin-right: 0;
			margin-left: 40px;
		}
	}
}

.blog-grid .hentry {
	float: right;

	&.col-md-6:nth-child(2n+1) {
		clear: right;
	}
}

.featured-content-carousel {
	.entry-title {
		padding-right: 0;
		padding-left: 20%;
	}

	.slick-next {
		left: 190px;
		right: auto;
	}

	.slick-prev {
		left: 130px;
		right: auto;
	}
}

.blog-search-form {
	.search-icon {
		left: auto;
		right: -3px;
	}

	.search-field {
		padding-right: 30px;
		padding-left: 0;
	}
}

.blog-header-content .social-icons {
	text-align: left;
}