.swiper-pagination-bullet {
	&:first-child {
		margin-right: 0;
	}

	&:last-child {
		margin-right: 10px;
	}
}

.slick-dots {
	li:first-child {
		margin-left: 5px;
		margin-right: 0;
	}

	li:last-child {
		margin-left: 0;
		margin-right: 5px;
	}
}