/*
Theme Name: Konte
Adding support for languages written in a Right To Left (RTL) direction
*/

@import "variables-site/variables-site";
@import "mixins/mixins-master";

/*--------------------------------------------------------------
# Reset
--------------------------------------------------------------*/
body {
	direction: rtl;
	unicode-bidi: embed;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "rtl/typography";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "rtl/elements";

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "rtl/form";

/*--------------------------------------------------------------
# Off-screen panels
--------------------------------------------------------------*/
@import "rtl/panels";

/*--------------------------------------------------------------
# Modals
--------------------------------------------------------------*/
@import "rtl/modals";

/*--------------------------------------------------------------
# Sliders
--------------------------------------------------------------*/
@import "rtl/sliders";

/*--------------------------------------------------------------
# Misc
--------------------------------------------------------------*/
@import "rtl/misc";

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
@import "rtl/layout";

/*--------------------------------------------------------------
# Navigations
--------------------------------------------------------------*/
@import "rtl/navigation";

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
@import "rtl/topbar";
@import "rtl/header";

/*--------------------------------------------------------------
# Posts
--------------------------------------------------------------*/
@import "rtl/posts";

/*--------------------------------------------------------------
# Pages
--------------------------------------------------------------*/
@import "rtl/pages";

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
@import "rtl/portfolio";

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
@import "rtl/widgets";

/*--------------------------------------------------------------
# Shortcodes
--------------------------------------------------------------*/
@import "rtl/shortcodes";

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
@import "rtl/footer";

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/
@import "rtl/media-queries";
