.header {
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  padding: 40px 50px;
  z-index: 99;

  @include max-mobile-xlg {
    padding: 25px 20px;
  }


  &-navigation {
    height: 100vh;
    width: 100vw;
    background: #a99685;
    z-index: 99;
    top: 0;
    left: 0;
    position: fixed;
    display: none;


    @for $i from 1 through 7 {
      ul li:nth-child(#{$i}) {
        animation: slide-up $i * (0.5s * 1) cubic-bezier(0.250, 0.460, 0.450, 0.940) both 0.5s;
      }
    }


    &.active {
      @for $i from 1 through 7 {
        ul li:nth-child(#{$i}) {
          animation: slide-bottom $i * (0.2s * 1) cubic-bezier(0.250, 0.460, 0.450, 0.940) both 0.1s;
        }
      }
      //ul li {
      //  animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      //}
    }

    &_container {
      padding: 100px;

      @include max-mobile-xlg {
        padding: 70px 30px;
      }

    }
    ul {
      display: inline-flex;
      list-style: none;
      margin-left: -40px;
      display: block;
      text-align: center;

      li {
        margin: 30px 50px;
        transform: translateX(0);
        a {
          letter-spacing: 2px;
          font-size: 1.7rem;
          color: #fff;
          font-family: 'South Korea';


          @include max-mobile-xlg {
            font-size: 1.4rem;
          }

          &:hover {
            color: #ccc;

          }
        }
      }
    }
  }

  &-branding {
    img {
      width: 350px;
      @include max-mobile-xlg {
        width: 250px;
      }
    }
  }

  &-toggle {
    position: fixed;
    top: 0;
    right: 0;
    padding: 25px;
    background: #fff;
    z-index: 999;
    .menu-wrapper {
      cursor: pointer;
      padding: 11px 0;
      display: inline-block;
      width: 37px;
    }

    .menu-wrapper span, .menu-wrapper span:before, .menu-wrapper span:after {
      content: '';
      height: 1px;
      background-color: #958271;
      width: 100%;
      display: block;

      transition-delay: 0s;
      transition-duration: 0.8s;
      transition-property: all;
      transition-timing-function: ease;
    }

    .menu-wrapper span {
      position: relative;
    }

    .menu-wrapper span:before {
      position: absolute;
      top: -9px;
    }

    .menu-wrapper span:after {
      position: absolute;
      top: 9px;
    }

    /* Cross effect */
    .menu-wrapper.active .menu-cross {
      transition-duration: 0.1s;
      background: none;
    }
    .menu-wrapper.active .menu-cross:before {
      transform: rotate(45deg);
      top: 0;
    }
    .menu-wrapper.active .menu-cross:after {
      transform: rotate(-45deg);
      top: 0;
    }
  }


}


