button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include font-size(14/16);
	color: #fff;
	font-weight: 600;
	line-height: 60px;
	border: 0;
	border-radius: 0;
	padding: 0 40px;
	background: $color__dark;
	transition: 0.4s;

	&.alt {
		color: $color__dark;
		border: 1px solid $color__dark;
		background: transparent;

		&:hover {
			color: #fff;
			background: $color__dark;
		}
	}
}