.wpcf7-form {
	@include font-size(1);

	.wpcf7-form-control {
		color: $color__dark;
		width: 100%;
		padding: 13px 0;
		border-color: $color__light;

		&:hover {
			border-color: $color__dark;
		}
	}

	.wpcf7-checkbox,
	.wpcf7-radio {
		display: block;
	}

	.wpcf7-text {
		background-color: transparent;
	}

	.wpcf7-textarea {
		height: 80px;
	}

	.wpcf7-submit {
		color: #fff;
		text-transform: uppercase;
		padding: 0;
		margin-top: 20px;
	}

	label {
		color: $color__gray;
		display: block;
		position: relative;
		margin: 20px 0 0 0;

		.label {
			transform: translateY(50%);
			transition: 0.4s;
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
		}

		&.focused .label {
			@include font-size(14/16);
			transform: translateY(-50%);
		}
	}

	span.ajax-loader {
		color: #fff;
		text-align: center;
		margin: 0;
		width: 100%;
		height: 60px;
		position: relative;
		background: $color__dark;
		transform: translateY(-100%);
		display: none;

		&:before {
			display: none;
		}

		&:after {
			content: "";
			top: 50%;
			left: 50%;
			position: absolute;
			margin-top: -10px;
			margin-left: -10px;
			@extend .spinner;
		}

		&.is-active {
			display: block;
			visibility: visible;
		}
	}

	&.submitting .ajax-loader {
		display: block;
		visibility: visible;
	}

	div.wpcf7-mail-sent-ok,
	div.wpcf7-validation-errors,
	div.wpcf7-acceptance-missing {
		text-align: center;
		margin: 0;
		border: 0;
	}

	span.wpcf7-not-valid-tip {
		margin-top: 5px;
	}

	div.wpcf7-mail-sent-ok {
		color: $color__success;
	}

	span.wpcf7-not-valid-tip,
	div.wpcf7-validation-errors {
		color: $color__error;
	}

	div.wpcf7-acceptance-missing {
		color: $color__info;
	}

	span.wpcf7-list-item:first-child {
		margin-left: 0;
	}

	.row.gap-70 {
		margin-left: -35px;
		margin-right: -35px;

		.col {
			padding-left: 35px;
			padding-right: 35px;
		}
	}
}
