.offscreen-panel {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1600;
	display: none;

	.backdrop {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
		background: rgba(22,22,25,0.2);
	}

	.button-close {
		position: absolute;
		right: 60px;
		top: 45px;
	}

	.panel {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 600px;
		max-width: 100%;
		margin: 0;
		background: #fff;
		box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
		transform: translateX(100%);
		transition: transform 0.5s;
		display: flex;
		flex-direction: column;
	}

	.panel-header,
	.panel-content {
		padding: 0 60px;
	}

	.panel-header {
		padding-top: 50px;
	}

	.panel__title {
		@include font-size(18/16);
		font-weight: 500;
		line-height: 1;
		margin: 0;
	}

	.panel-content {
		padding-top: 70px;
		flex: 1;
		overflow-y: auto;
	}

	&.open {
		.panel {
			transform: none;
		}
	}
}

body.offcanvas-opened {
	overflow: hidden;
}

.login-panel {
	.panel-content {
		padding-top: 0;
		padding-bottom: 60px;

		h2 {
			@extend .screen-reader-text;
		}

		form {
			padding: 0 40px;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;

			> :first-child {
				margin-top: auto;
			}

			.form-row {
				margin: 0 0 -6px 0;

				&:first-child {
					margin-top: auto;
				}
			}

			.input-text {
				width: 100%;
			}

			label {
				@include font-size(1);
				transform: translateY(38px);
				transition: 0.4s;
				display: inline-block;

				&.woocommerce-form__label {
					transform: none;
					margin: 40px 0;
				}
			}

			.focused label {
				@include font-size(14/16);
				color: $color__gray;
				transform: translateY(10px);
			}

			.button {
				font-weight: 600;
				width: 100%;
				margin-bottom: 30px;

				&.alt {
					color: $color__dark;
					border: 1px solid;
					background: transparent;

					&:hover {
						color: #fff;
						border-color: $color__dark;
						background: $color__dark;
					}
				}

				.spinner {
					vertical-align: middle;
				}
			}

			&.login .lost_password,
			&.register .already_registered {
				text-align: center;
				justify-self: flex-end;
				margin-top: auto;
				margin-bottom: 0;

				a {
					@include font-size(14/16);
					font-weight: 600;
					text-transform: uppercase;
					padding-bottom: 3px;
					border-bottom: 2px solid;
				}
			}

			&.register {
				button {
					margin-top: 60px;
				}
			}
		}

		.woocommerce-privacy-policy-text {
			@include font-size(1);
			margin: 20px 0 -40px;
		}

		.woocommerce-error {
			padding-left: 80px;
			padding-right: 60px;
			margin-top: 60px;
			margin-bottom: 10px;
		}
	}
}

.quick-view-panel {
	.button-close {
		z-index: 10;
	}

	.product {
		height: 100%;
		padding: 0;
		background: #fff;
		transition: 0.4s;
		opacity: 1;

		.woocommerce-badges {
			left: 60px;
			top: 40px;
		}

		.woocommerce-product-gallery {
			max-height: 570px;
			overflow: hidden;

			img {
				height: 100%;
				max-height: 570px;
				display: block;
				object-fit: cover;
			}
		}

		.flex-direction-nav {
			list-style: none;
			margin: 0;
			padding: 0;

			a {
				text-align: center;
				width: 30px;
				height: 50px;
				position: absolute;
				top: 50%;
				margin-top: -15px;
				line-height: 50px;
				display: block;
				background: #fff;
			}

			.flex-prev {
				left: 0;
			}

			.flex-next {
				right: 0;
			}
		}

		.flex-control-nav {
			display: none;
		}

		.add-to-wishlist-button {
			position: absolute;
			top: 0;
			right: 60px;
			width: 50px;
			height: 50px;
			line-height: 50px;
			padding: 0;
			margin-top: -25px;
			border-radius: 50%;

			svg {
				vertical-align: middle;
			}

			.spinner {
				vertical-align: -0.35em;
			}
		}
	}

	.product.product-type-simple .cart {
		display: flex;

		.single_add_to_cart_button {
			flex: 1;
		}
	}

	.woocommerce .product {
		.woocommerce-product-gallery {
			width: 100%;
			float: none;

			.woocommerce-product-gallery__image img {
				cursor: default;
			}
		}

		.summary {
			width: 100%;
			padding: 40px 60px;
			position: relative;
			float: none;
		}
	}

	.view-product-link {
		display: block;
		margin-top: 40px;

		a {
			@include font-size(14/16);
			font-weight: 500;
			text-transform: uppercase;
			padding-bottom: 3px;
			border-bottom: 1px solid;
		}
	}

	.product-share {
		display: none;
	}

	.panel-loader {
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&.loading {
		.product {
			opacity: 0;
		}
		.panel-loader {
			display: block;
		}
	}
}

.mobile-menu-panel {
	.header-mobile {
		display: none;

		.konte-container-fluid {
			padding-left: 0;
			padding-right: 0;
			margin-left: 0;
			margin-right: 0;
		}

		.hamburger-menu .hamburger-inner {
			transform: rotate(45deg);

			&:before {
				top: 0;
				opacity: 0;
				width: 100%;
			}

			&:after {
				bottom: 0;
				transform: rotate(-90deg);
				width: 100%;
			}
		}
	}

	.panel {
		@include font-size(20/16);
		padding-left: 20px;
		padding-right: 20px;
		transform: translateX(-100%);
		right: auto;
		left: 0;
		overflow: hidden;
		overflow-y: auto;
		width: 380px;

		> :not(.divider) {
			padding: 13px 0;
		}

		.header-mobile {
			padding-top: 0;
			padding-bottom: 0;
		}

		.mobile-menu__search-form {
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	.list-dropdown ul {
		left: auto;
		right: 0;
	}
}

.size-guide-panel {
	.panel-content {
		padding-top: 50px;
	}
}