.swiper-container {
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1; /* Fix of Webkit flickering */
}

.swiper-container-no-flexbox {
	.swiper-slide {
		float: left;
	}
}

.swiper-container-vertical>.swiper-wrapper {
	flex-direction: column;
}

.swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	transition-property: transform;
	box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
	transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow>.swiper-wrapper {
	flex-wrap: wrap;
}

.swiper-container-free-mode>.swiper-wrapper {
	transition-timing-function: ease-out;
	margin: 0 auto;
}

.swiper-slide {
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
	transition-property: transform;
}

.swiper-invisible-blank-slide {
	visibility: hidden;
}

/* Auto Height */
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
	height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
	align-items: flex-start;
	transition-property: transform, height;
}

/* 3D Effects */
.swiper-container-3d {
	perspective: 1200px;
	.swiper-wrapper,
	.swiper-slide,
	.swiper-slide-shadow-left,
	.swiper-slide-shadow-right,
	.swiper-slide-shadow-top,
	.swiper-slide-shadow-bottom,
	.swiper-cube-shadow {
		transform-style: preserve-3d;
	}
	.swiper-slide-shadow-left,
	.swiper-slide-shadow-right,
	.swiper-slide-shadow-top,
	.swiper-slide-shadow-bottom {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		z-index: 10;
	}
	.swiper-slide-shadow-left {
		background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
	}
	.swiper-slide-shadow-right {
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
	}
	.swiper-slide-shadow-top {
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
	}
	.swiper-slide-shadow-bottom {
		background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
	}
}

/* IE10 Windows Phone 8 Fixes */

.swiper-container-wp8-horizontal,
.swiper-container-wp8-horizontal>.swiper-wrapper {
	touch-action: pan-y;
}

.swiper-container-wp8-vertical,
.swiper-container-wp8-vertical>.swiper-wrapper {
	touch-action: pan-x;
}

/* Scrollbar */
.swiper-scrollbar {
	position: relative;
	-ms-touch-action: none;
	background: $color__lighter;

	.swiper-container-horizontal > & {
		position: relative;
		width: 100%;
		height: 1px;
		margin: 20px 0 2px;

		.swiper-scrollbar-drag {
			height: 3px;
			top: -1px;
		}
	}

	.swiper-container-vertical > & {
		position: absolute;
		right: -1px;
		top: 1%;
		z-index: 50;
		width: 1px;
		height: 100%;
	}
}

.swiper-scrollbar-drag {
	height: 100%;
	width: 100%;
	position: relative;
	background: $color__dark;
	left: 0;
	top: 0;
	cursor: pointer;
}

.swiper-scrollbar-cursor-drag {
	cursor: move;
}

.swiper-scrollbar-lock {
	display: none;
}

/* Bullet pagination */
.swiper-pagination {
	margin-top: 20px;

	.konte-swiper-container & {
		position: static;
		text-align: inherit;
	}
}

.swiper-pagination-lock {
	display: none;
}

.konte-swiper-container .swiper-pagination-bullet {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	margin-left: 0;
	border-radius: 50%;
	border: 7px solid transparent;
	cursor: pointer;
	transition: 0.4s;
	background: inherit;
	opacity: 1;

	&:last-child {
		margin-right: 0;
	}

	span {
		display: block;
		height: 100%;
		border-radius: 50%;
		background: $color__light;
		transition: 0.4s;
	}

	&:hover span {
		background: $color__dark;
	}
}

.konte-swiper-container .swiper-pagination-bullet-active {
	border-color: rgba(22,22,25,0.1);

	span {
		background: $color__dark;
	}
}