body {
	.hotspot-modal {
		font-family: $font__main;

		.modal-content {
			border-radius: 0 !important;
		}

		.modal-dialog .chevron {
			top: 50%;
			transform: translateY(-50%);
		}

		.ico-close {
			right: 29px;
			top: 24px;
			z-index: 999;
		}

		.above-previews-row {
			margin-bottom: 17px;
		}

		.profile-avatar {
			width: 50px;
			height: 50px;
			margin-right: 10px;
		}

		.public-hotspot--username {
			font-size: 24px;
			font-weight: 500;
		}

		.modal-left-column {
			width: 55%;
		}

		.modal-right-column {
			width: 45%;
			margin: 0 40px;
			padding: 0;
		}

		.public-hotspot-info-holder {
			.public-hotspot-info {
				width: 50%;

				.public-hotspot-info__product-image-inner {
					border: 0 !important;
					border-radius: 0 !important;
				}

				.public-hotspot-info__number {
					display: none;
				}

				.public-hotspot-info__first-line {
					margin-top: 10px;
				}

				.public-hotspot-info__second-line {
					font-size: 16px;
				}

				.public-hotspot-info__btn-buy.snpt-cta-btn {
					border-radius: 0 !important;
					font-size: 12px;
					font-weight: 600;
					text-transform: capitalize;
					padding: 0 8px;
					line-height: 24px;
					margin-top: 10px;
					background-color: #161619;
					color: #fff;

					&:hover {
						background-color: #161619;
						color: #fff;
					}

					> span {
						padding-top: 0;
						padding-bottom: 0;

						&.snpt-cta-btn_txt {
							letter-spacing: 0;
						}
					}
				}

				&:nth-child(odd) {
					padding-right: 10px;
				}

				&:nth-child(even) {
					padding-left: 10px;
				}
			}
		}

	}

	.hotspot-modal--frontend .snpt-product-images-slide img,
	.hotspot-modal--frontend .snpt-product-images-slide video {
		border-bottom-left-radius: 0 !important;
    	border-top-left-radius: 0 !important;
	}

	&.hotspot-modal-tm-1 public-modal>.hotspot-modal .public-hotspot-info-holder .public-hotspot-info.public-hotspot-info--highlighted .public-hotspot-info__product-image-inner {
		border: 0;
	}

	&.hotspot-modal-tm-1 .snpt-modal.hotspot-modal .public-item-modal .modal-column div {
		color: #161619;
	}

	&.hotspot-modal-tm-1 public-modal>.hotspot-modal .public-hotspot-info-holder .public-hotspot-info .public-hotspot-info__btn-buy.snpt-cta-btn:hover {
		background-color: #161619;
		color: #fff;
	}

	// Price
	.hotspot-modal .public-hotspot-info-holder .public-hotspot-info .public-hotspot-info__price {
		font-size: 16px;
		line-height: 30px;
		color: #161619;
	}

	&.hotspot-modal-tm-1 public-modal>.hotspot-modal .public-hotspot-info-holder .public-hotspot-info .public-hotspot-info__price {
		color: #161619;
	}

	// Backdrop
	.snpt-modal.hotspot-modal {
		background-color: rgba( 0,0,0,0.5 );
	}
}
