.woocommerce-wishlist {
	.entry-title {
		margin-bottom: 60px;
	}

	.wishlist-empty,
	.return-to-shop {
		text-align: center;
	}

	.return-to-shop .button {
		line-height: 60px;
		min-width: 220px;
	}
}

table.wishlist_table {
	th,
	td {
		border-color: $color__lighter;
	}

	th {
		@include font-size(11/16);
		font-weight: 600;
		text-transform: uppercase;
		padding: 15px 0;
	}

	td {
		padding: 20px 0;

		.product-stock-status,
		.product-price,
		.product-add-to-cart {
			margin: 0;
		}

		.product-stock-status,
		.product-price {
			@include font-size(1);
			margin-top: 10px;
		}

		.product-stock-status {
			color: $color__gray;
			text-transform: uppercase;
		}

		.product-add-to-cart .button {
			color: $color__dark;
			font-weight: 600;
			padding: 0;
			min-width: 0;
			background: transparent;
		}
	}

	.product-thumbnail {
		width: 130px;
	}

	.product-name {
		padding-left: 40px;

		a {
			font-weight: 500;
		}
	}

	.product-price {
		del {
			color: $color__gray;
		}
	}

	td.product-price {
		font-weight: 500;
	}

	td.product-stock-status {
		font-weight: 500;
		text-transform: uppercase;
	}

	td.product-add-to-cart {
		text-align: right;

		.button {
			line-height: 60px;
			min-width: 220px;
		}
	}

	td.product-remove {
		text-align: right;
		width: 70px;
	}

	a.remove {
		color: #a2a5a6;

		&:hover {
			color: $color__dark;
		}
	}
}

.wishlist-share {
	text-align: center;
	margin-top: 60px;

	h4 {
		margin-bottom: 24px;
	}

	ul li:last-child {
		margin-right: 0;
	}

	a {
		color: $color__gray;

		&:hover {
			color: $color__dark;
		}
	}
}
