@font-face {
	font-family: 'function_pro';
	src: url("../fonts/functionpro-light-webfont.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap; }

@font-face {
	font-family: 'function_pro';
	src: url("../fonts/functionpro-book-webfont.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap; }

@font-face {
	font-family: 'function_pro';
	src: url("../fonts/functionpro-medium-webfont.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap; }

@font-face {
	font-family: 'function_pro';
	src: url("../fonts/functionpro-demi-webfont.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap; }

@font-face {
	font-family: 'function_pro';
	src: url("../fonts/functionpro-bold-webfont.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body {
	color: #161619;
	font-family: "function_pro", sans-serif;
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.55556;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	-webkit-font-smoothing: antialiased; }

a {
	color: #000;
	text-decoration: none;
	transition: 0.3s ease-in; }
	a:focus, a:hover, a:active {
		outline: 0; }

h1, h2, h3, h4, h5, h6 {
	font-weight: 500; }

h1 {
	font-size: 60px;
	font-size: 3.75rem; }

h2 {
	font-size: 40px;
	font-size: 2.5rem; }

h3 {
	font-size: 30px;
	font-size: 1.875rem; }

h4 {
	font-size: 24px;
	font-size: 1.5rem; }

h5 {
	font-size: 18px;
	font-size: 1.125rem; }

h6 {
	font-size: 16px;
	font-size: 1rem; }

p {
	margin-bottom: 1.5em; }

dfn, cite, em, i {
	font-style: italic; }

blockquote {
	font-size: 24px;
	font-size: 1.5rem;
	line-height: 1.33333;
	margin: 0;
	padding: 0 100px;
	position: relative;
	border-left: 0; }
	blockquote:before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0.5em;
		width: 20px;
		border-top: 2px solid #000; }

address {
	margin: 0 0 1.5em; }

pre {
	background: #cdcfd0;
	font-family: Menlo, Consolas, monaco, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
	border-radius: 4px; }

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	padding: 2px 4px;
	background: #e3e7e8; }

abbr, acronym {
	border-bottom: 1px dotted #161619;
	cursor: help; }

mark, ins {
	background: transparent;
	text-decoration: none; }

big {
	font-size: 133.33333%;
	line-height: 1.33333; }

b, strong {
	font-weight: 600; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box; }

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit; }

body {
	overflow-x: hidden;
	background: #fff;
	/* Fallback for when there is no custom background color defined. */ }

hr {
	background-color: #e3e7e8;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em; }

ul, ol {
	margin: 0 0 50px 0;
	padding-left: 30px; }

ul {
	list-style: disc; }
	ul ul {
		list-style: circle; }

ol {
	list-style: decimal; }

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 10px; }

dt {
	font-weight: 500; }

dd {
	margin: 0 30px 30px; }

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */ }

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */ }

ins {
	background: transparent; }

table {
	margin: 0 0 1.5em;
	width: 100%; }

th,
td {
	padding: 10px 0;
	border-bottom: 1px solid #000; }

th {
	text-align: left; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 40px;
	margin-bottom: 36px; }

.alignright {
	display: inline;
	float: right;
	margin-left: 40px;
	margin-bottom: 36px; }

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto; }

ul.aligncenter {
	text-align: center; }

.no-sidebar .alignwide {
	max-width: 1140px;
	width: 1140px;
	margin-left: calc( -1140px/2 + 100%/2);
	margin-right: calc( -1140px/2 + 100%/2); }

.no-sidebar.page .alignwide {
	max-width: 1400px;
	width: 1400px;
	margin-left: calc( -1400px/2 + 100%/2);
	margin-right: calc( -1400px/2 + 100%/2); }

.no-sidebar .alignfull {
	max-width: 100vw;
	width: 100vw;
	margin-left: calc( -100vw/2 + 100%/2);
	margin-right: calc( -100vw/2 + 100%/2); }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%; }

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%; }
	.wp-caption img[class*="wp-image-"] {
		display: block;
		margin-left: auto;
		margin-right: auto; }
	.wp-caption .wp-caption-text {
		margin: 0.8075em 0; }

.wp-caption-text {
	text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin: 0 -20px; }

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	padding: 20px; }
	.gallery-columns-2 .gallery-item {
		max-width: 50%; }
	.gallery-columns-3 .gallery-item {
		max-width: 33.33%; }
	.gallery-columns-4 .gallery-item {
		max-width: 25%; }
	.gallery-columns-5 .gallery-item {
		max-width: 20%; }
	.gallery-columns-6 .gallery-item {
		max-width: 16.66%; }
	.gallery-columns-7 .gallery-item {
		max-width: 14.28%; }
	.gallery-columns-8 .gallery-item {
		max-width: 12.5%; }
	.gallery-columns-9 .gallery-item {
		max-width: 11.11%; }
	.gallery-columns-10 .gallery-item {
		max-width: 10%; }

.gallery-caption {
	display: block; }

/*--------------------------------------------------------------
# Extend CSS for MCE
--------------------------------------------------------------*/
body.mce-content-body {
	margin: 10px;
	overflow-x: auto; }
	body.mce-content-body.post-type-post {
		max-width: 780px; }
	body.mce-content-body code {
		background: #e3e7e8; }
	body.mce-content-body .gallery .gallery-item {
		padding: 20px; }

.mce-item-table {
	margin: 0 0 1.5em;
	width: 100%;
	border: 0;
	border-collapse: collapse;
	border-spacing: 0; }
	.mce-item-table th,
	.mce-item-table td {
		padding: 10px 0;
		border: 0;
		border-bottom: 1px solid #000; }
	.mce-item-table th {
		text-align: left; }
	.mce-item-table caption {
		border: 0; }
