/*--------------------------------------------------------------
# Gutenberg blocks
--------------------------------------------------------------*/
p.has-drop-cap:not(:focus)::first-letter {
	font-size: 6em; }

p.wp-block-subhead {
	color: #838889;
	opacity: 1; }

.has-small-font-size {
	font-size: 12px;
	font-size: 0.75rem; }

.has-medium-font-size {
	font-size: 24px;
	font-size: 1.5rem; }

.has-large-font-size {
	font-size: 40px;
	font-size: 2.5rem;
	line-height: 1.25; }

.has-huge-font-size {
	font-size: 64px;
	font-size: 4rem;
	line-height: 1.25; }

.wp-block-quote:not(.is-large):not(.is-style-large) {
	border-left: 0;
	padding-left: 100px; }

.wp-block-quote.is-style-large, .wp-block-quote.is-large {
	font-size: 28px;
	font-size: 1.75rem;
	padding: 0 100px;
	border-left: 4px solid; }
	.wp-block-quote.is-style-large:before, .wp-block-quote.is-large:before {
		display: none; }
	.wp-block-quote.is-style-large p, .wp-block-quote.is-large p {
		font-size: inherit; }

.wp-block-cover .wp-block-cover-text {
	font-size: 2em;
	line-height: 1.25;
	margin: 0; }

.wp-block-code {
	font-family: Menlo, Consolas, monaco, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	background: #cdcfd0;
	border: 0;
	padding: 1.6em; }
	.wp-block-code code {
		font-size: inherit;
		font-family: inherit;
		background: transparent; }

.wp-block-pullquote blockquote:before {
	display: none; }

.wp-block-pullquote.alignleft blockquote, .wp-block-pullquote.alignright blockquote {
	padding-left: 30px;
	padding-right: 30px; }

.wp-block-separator {
	margin: 1.5em auto;
	border-bottom: 0;
	clear: both; }

.wp-block-gallery {
	margin-bottom: 0; }
	.wp-block-gallery .blocks-gallery-image,
	.wp-block-gallery .blocks-gallery-item {
		width: calc( (100% - 20px) / 2);
		margin-right: 20px;
		margin-bottom: 20px; }

.wp-block-image {
	margin-top: 20px;
	margin-bottom: 20px; }
	.wp-block-image img {
		display: block; }

.wp-block-gallery + .wp-block-image {
	margin-top: 0; }

.wp-block-image + .wp-block-image {
	margin-top: 20px; }

@media (min-width: 600px) {
	.wp-block-gallery .blocks-gallery-image,
	.wp-block-gallery .blocks-gallery-item {
		width: calc( (100% - 40px) / 2);
		margin-right: 40px;
		margin-bottom: 40px; }
	.wp-block-gallery.columns-2 .blocks-gallery-image,
	.wp-block-gallery.columns-2 .blocks-gallery-item {
		width: calc( (100% - 40px * 1) / 2); }
	.wp-block-gallery.columns-3 .blocks-gallery-image,
	.wp-block-gallery.columns-3 .blocks-gallery-item {
		width: calc( (100% - 40px * 2) / 3); }
	.wp-block-gallery.columns-4 .blocks-gallery-image,
	.wp-block-gallery.columns-4 .blocks-gallery-item {
		width: calc( (100% - 40px * 3) / 4); }
	.wp-block-gallery.columns-5 .blocks-gallery-image,
	.wp-block-gallery.columns-5 .blocks-gallery-item {
		width: calc( (100% - 40px * 4) / 5); }
	.wp-block-gallery.columns-6 .blocks-gallery-image,
	.wp-block-gallery.columns-6 .blocks-gallery-item {
		width: calc( (100% - 40px * 5) / 6); }
	.wp-block-gallery.columns-7 .blocks-gallery-image,
	.wp-block-gallery.columns-7 .blocks-gallery-item {
		width: calc( (100% - 40px * 6) / 7); }
	.wp-block-gallery.columns-8 .blocks-gallery-image,
	.wp-block-gallery.columns-8 .blocks-gallery-item {
		width: calc( (100% - 40px * 7) / 8); }
	.wp-block-image {
		margin-top: 34px;
		margin-bottom: 34px; } }

.editor-styles-wrapper .wp-block p,
.editor-styles-wrapper .wp-block .mce-content-body {
	line-height: inherit; }

.editor-styles-wrapper .wp-block p {
	font-size: inherit; }

.wp-block {
	max-width: 750px; }
	.wp-block .mce-content-body {
		margin: 1em 0 1.5em 0; }
	.wp-block figcaption.mce-content-body {
		margin: 0; }
	.wp-block[data-align="wide"] {
		max-width: 1140px; }
		@media (max-width: 1140px) {
			.wp-block[data-align="wide"] {
				max-width: none; } }
		.wp-block[data-align="wide"] .alignwide {
			width: 100%; }
	.wp-block .alignwide {
		width: 1140px;
		position: relative;
		left: 50%;
		transform: translateX(-50%); }
		@media (max-width: 1140px) {
			.wp-block .alignwide {
				left: auto;
				width: auto;
				transform: none; } }
	.wp-block[data-align="full"] {
		max-width: none; }
	.wp-block .alignfull {
		margin-left: calc(-100vw/2 + 100%/2 + 160px/2);
		margin-right: calc(-100vw/2 + 100%/2 + 160px/2); }
		@media (max-width: 1140px) {
			.wp-block .alignfull {
				margin-left: 0;
				margin-right: 0; } }
	.wp-block p.wp-block-subhead {
		color: #838889;
		font-size: 1.1em; }
	.wp-block ul.wp-block-gallery {
		list-style-type: none;
		padding: 0; }
	.wp-block .wp-block-table td {
		padding: 0.5em; }
	.wp-block .wp-block-table .editor-rich-text__tinymce {
		margin: 0;
		padding: 0; }
	.wp-block .wp-block-quote p {
		font-size: inherit;
		line-height: 1.3333; }
	.wp-block .wp-block-quote .mce-content-body {
		margin: 0; }
	.wp-block .wp-block-quote.is-large p, .wp-block .wp-block-quote.is-style-large p {
		line-height: 1.6; }
	.wp-block .wp-block-quote.is-large .wp-block-quote__citation, .wp-block .wp-block-quote.is-style-large .wp-block-quote__citation {
		font-size: 18px;
		font-size: 1.125rem; }
	.wp-block .wp-block-pullquote blockquote:before {
		display: none; }
	.wp-block .wp-block-cover .wp-block-cover-text {
		font-size: 2em;
		line-height: 1.25;
		margin: 0; }

@media (min-width: 600px) {
	.wp-block[data-type="core/gallery"] + .wp-block[data-type="core/image"] {
		margin-top: -50px; } }

.is-sidebar-opened .wp-block .alignfull {
	margin-left: calc(-100vw/2 + 100%/2 + 160px/2 + 280px/2);
	margin-right: calc(-100vw/2 + 100%/2 + 160px/2 + 280px/2); }
	@media (max-width: 1140px) {
		.is-sidebar-opened .wp-block .alignfull {
			margin-left: 0;
			margin-right: 0; } }

.folded .wp-block .alignfull {
	margin-left: calc(-100vw/2 + 100%/2 + 36px/2);
	margin-right: calc(-100vw/2 + 100%/2 + 36px/2); }
	@media (max-width: 1140px) {
		.folded .wp-block .alignfull {
			margin-left: 0;
			margin-right: 0; } }

.folded .is-sidebar-opened .wp-block .alignfull {
	margin-left: calc(-100vw/2 + 100%/2 + 36px/2 + 280px/2);
	margin-right: calc(-100vw/2 + 100%/2 + 36px/2 + 280px/2); }
	@media (max-width: 1140px) {
		.folded .is-sidebar-opened .wp-block .alignfull {
			margin-left: 0;
			margin-right: 0; } }

.post-type-page .wp-block {
	max-width: 1140px; }
	.post-type-page .wp-block[data-align="wide"] {
		max-width: 1200px; }
		@media (max-width: 1200px) {
			.post-type-page .wp-block[data-align="wide"] {
				max-width: none; } }
	.post-type-page .wp-block .alignwide {
		width: 1200px;
		position: relative;
		left: 50%;
		transform: translateX(-50%); }
		@media (max-width: 1200px) {
			.post-type-page .wp-block .alignwide {
				width: auto;
				left: auto;
				transform: none; } }
	.post-type-page .wp-block[data-align="full"] {
		max-width: none; }

.editor-post-title__block .editor-post-title__input {
	color: inherit;
	font-family: inherit;
	font-size: 60px;
	font-weight: 600;
	line-height: 1.16667; }

.wp-block-preformatted pre,
.wp-block-verse pre {
	line-height: 1.55556; }

.wp-block-preformatted pre.mce-content-body,
.wp-block-verse pre.mce-content-body {
	line-height: 1.55556;
	margin: 0 0 1.6em 0; }

.wp-block-preformatted pre {
	-ms-word-wrap: normal;
	word-wrap: normal; }

.wp-block-pullquote.alignleft blockquote > .editor-rich-text p, .wp-block-pullquote.alignright blockquote > .editor-rich-text p {
	font-size: 20px; }

.wp-block-freeform.block-library-rich-text__tinymce a {
	color: #000;
	text-decoration: none;
	transition: 0.3s ease-in; }
	.wp-block-freeform.block-library-rich-text__tinymce a:focus, .wp-block-freeform.block-library-rich-text__tinymce a:hover, .wp-block-freeform.block-library-rich-text__tinymce a:active {
		outline: 0; }

.wp-block-freeform.block-library-rich-text__tinymce h1, .wp-block-freeform.block-library-rich-text__tinymce h2, .wp-block-freeform.block-library-rich-text__tinymce h3, .wp-block-freeform.block-library-rich-text__tinymce h4, .wp-block-freeform.block-library-rich-text__tinymce h5, .wp-block-freeform.block-library-rich-text__tinymce h6 {
	font-weight: 500; }

.wp-block-freeform.block-library-rich-text__tinymce h1 {
	font-size: 60px;
	font-size: 3.75rem; }

.wp-block-freeform.block-library-rich-text__tinymce h2 {
	font-size: 40px;
	font-size: 2.5rem; }

.wp-block-freeform.block-library-rich-text__tinymce h3 {
	font-size: 30px;
	font-size: 1.875rem; }

.wp-block-freeform.block-library-rich-text__tinymce h4 {
	font-size: 24px;
	font-size: 1.5rem; }

.wp-block-freeform.block-library-rich-text__tinymce h5 {
	font-size: 18px;
	font-size: 1.125rem; }

.wp-block-freeform.block-library-rich-text__tinymce h6 {
	font-size: 16px;
	font-size: 1rem; }

.wp-block-freeform.block-library-rich-text__tinymce p {
	margin-bottom: 1.5em; }

.wp-block-freeform.block-library-rich-text__tinymce dfn, .wp-block-freeform.block-library-rich-text__tinymce cite, .wp-block-freeform.block-library-rich-text__tinymce em, .wp-block-freeform.block-library-rich-text__tinymce i {
	font-style: italic; }

.wp-block-freeform.block-library-rich-text__tinymce blockquote {
	font-size: 24px;
	font-size: 1.5rem;
	line-height: 1.33333;
	margin: 0;
	padding: 0 100px;
	position: relative;
	border-left: 0; }
	.wp-block-freeform.block-library-rich-text__tinymce blockquote:before {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0.5em;
		width: 20px;
		border-top: 2px solid #000; }

.wp-block-freeform.block-library-rich-text__tinymce address {
	margin: 0 0 1.5em; }

.wp-block-freeform.block-library-rich-text__tinymce pre {
	background: #cdcfd0;
	font-family: Menlo, Consolas, monaco, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
	border-radius: 4px; }

.wp-block-freeform.block-library-rich-text__tinymce code, .wp-block-freeform.block-library-rich-text__tinymce kbd, .wp-block-freeform.block-library-rich-text__tinymce tt, .wp-block-freeform.block-library-rich-text__tinymce var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	padding: 2px 4px;
	background: #e3e7e8; }

.wp-block-freeform.block-library-rich-text__tinymce abbr, .wp-block-freeform.block-library-rich-text__tinymce acronym {
	border-bottom: 1px dotted #161619;
	cursor: help; }

.wp-block-freeform.block-library-rich-text__tinymce mark, .wp-block-freeform.block-library-rich-text__tinymce ins {
	background: transparent;
	text-decoration: none; }

.wp-block-freeform.block-library-rich-text__tinymce big {
	font-size: 133.33333%;
	line-height: 1.33333; }

.wp-block-freeform.block-library-rich-text__tinymce b, .wp-block-freeform.block-library-rich-text__tinymce strong {
	font-weight: 600; }
