.maintenance-mode {
	.site-header,
	.site-header-space,
	.site-footer,
	.single-page-header {
		display: none;
	}

	.maintenance-header {
		display: block;
	}

	.split-page-content {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.site-content {
		padding-top: 0;
		padding-bottom: 0;
		height: 100vh;
	}

	.site-content-container,
	.content-area,
	.site-main,
	.split-page {
		height: 100%;
	}
}

.maintenance-layout-split {
	.site-content-container,
	.content-area,
	.site-main,
	.split-page {
		height: 100%;
	}

	.split-page-featured {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #fff;

		.entry-header {
			position: absolute;
			top: 0;
			right: 0;
			width: 50%;
			height: 100%;
			background-size: cover;
			overflow: hidden;
		}

		.entry-thumbnail {
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;

			&:after {
				display: none;
			}
		}
	}

	.split-page-content {
		height: 100%;
		padding: 100px 0;

		.konte-container {
			display: flex;
			align-items: center;
			height: 100%;
		}

		.entry-content {
			width: 50%;
			max-height: 100%;
			overflow: hidden;
			padding-right: 85px;
			float: left;
			margin: 0;
			position: relative;

			&.ps--active-y {
				height: 100%;
			}
		}
	}
}

.maintenance-layout-fullscreen {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	.site-main {
		display: flex;
		flex-direction: column;
		justify-items: center;
		justify-content: center;
		text-align: center;
		padding: 100px 0;
	}


	.text-light .mc4wp-form {
		input,
		select,
		textarea {
			padding-left: 30px;
			padding-right: 30px;
			border-width: 0;
		}

		input[type=text],
		input[type=email],
		select {
			min-width: 360px;
		}

		input[type=submit],
		input[type=reset],
		button {
			padding: 0 50px;
		}
	}
}

.maintenance-header {
	padding: 45px 0;

	.header-items {
		width: 100%;
		justify-content: space-between;
	}
}