.portfolio-project {
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;

	.alignwide {
		max-width: 1400px;
		width: 1400px;
		margin-left: calc( -1400px/2 + 100%/2);
		margin-right: calc( -1400px/2 + 100%/2);
	}
}

@media (min-width: 600px) {
	.portfolio-project {
		.wp-block-gallery {
			margin-top: 54px;

			.blocks-gallery-image,
			.blocks-gallery-item {
				width: calc( (100% - 60px) / 2 );
				margin-right: 60px;
				margin-bottom: 60px;

				&:last-child {
					margin-right: 0;
				}
			}

			+ .wp-block-gallery {
				margin-top: 0;
			}
		}

		@for $i from 2 through 8 {
			$space: ($i - 1);

			.wp-block-gallery.columns-#{$i} {
				.blocks-gallery-image,
				.blocks-gallery-item {
					width: calc( (100% - 60px * #{$space}) / #{$i} );
				}
			}
		}

		.wp-block-image {
			margin-top: 54px;
			margin-bottom: 54px;
		}
	}
}

.project-meta {
	@include font-size(14/16);
	font-weight: 500;
	margin-top: 18px;
	margin-bottom: 46px;

	> p {
		margin: 0 0 8px;
		display: flex;
	}

	.project-meta__label {
		min-width: 70px;
	}

	.project-meta__value {
		flex: 1;
		padding-left: 35px;
	}
}

.project-footer {
	margin-bottom: 60px;
}

.project-navigation {
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 60px;
	padding-bottom: 60px;
	border-bottom: 0;
	border-top: 1px solid $color__lighter;

	a {
		@include font-size(18/16);
	}

	img {
		width: 100px;
	}

	.project-navigation__summary > span {
		display: block;
	}

	.project-types {
		@include font-size(14/16);
		font-weight: 500;
		color: $color__gray;
		margin-top: 5px;
	}
}

.related-projects {
	padding: 40px 0;
	border-top: 1px solid $color__lighter;

	h2 {
		@include font-size(40/16);
		font-weight: 400;
		text-align: center;
		margin: 0 0 40px 0;
	}

	.projects {
		margin-left: -20px;
		margin-right: -20px;
		display: flex;
		flex-wrap: wrap;
	}

	.project {
		width: 33.3333%;
		padding-left: 20px;
		padding-right: 20px;

		h3 {
			@include font-size(24/16);
			font-weight: 400;
			margin: 30px 0 0 0;
		}
	}

	.project-types {
		@include font-size(1);
		font-weight: 500;
		margin: 0;

		a {
			color: $color__gray;

			&:hover {
				color: $color__dark;
			}
		}
	}
}

.portfolio-project--layout-v1 {
	.project-title {
		text-align: center;
	}
}

.portfolio-project--layout-v2 {
	.project-header {
		background-color: $color__lighter;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
	}

	.project-header__container {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		> * {
			max-width: 50%;
		}
	}

	.project-title {
		font-weight: 400;
	}

	.project-meta {
		margin-top: 18px;
		margin-bottom: 46px;
	}

	.project-content {
		margin-top: 110px;
	}
}

.project-layout-v2 .site-content {
	padding-top: 0;
}

.portfolio-archive {
	.site-content {
		padding-top: 0;
	}

	.pagination {
		margin-bottom: 60px;
	}
}

.portfolio-page-header {
	padding: 60px 0;

	strong {
		font-weight: 700;
	}

	p {
		margin: 0.55em 0;
	}
}

.portfolio-page-header__container {
	> :first-child {
		margin-top: 0;
	}

	> :last-child {
		margin-bottom: 0;
	}
}

.post-type-archive-portfolio .portfolio-page-header--page_content {
	padding-bottom: 90px;
}

.portfolio-page-header--page_title {
	text-align: center;
	padding: 54px 0 74px;

	.page-title {
		font-weight: 600;
	}

	+ .site-content-container .portfolio-filter,
	+ .site-content-container .navigation {
		text-align: center;
	}
}

.portfolio-filter {
	padding: 60px 0;

	a {
		color: $color__gray;
		font-weight: 500;
		display: inline-block;
		margin-right: 60px;

		&:last-child {
			margin-right: 0;
		}
	}

	a:hover,
	a.active {
		color: $color__dark;
	}
}

.portfolio-projects {
	margin-left: -40px;
	margin-right: -40px;

	.hentry {
		float: left;
		width: 50%;
		padding-left: 40px;
		padding-right: 40px;
		margin-bottom: 72px;
	}

	.project-header .project-title {
		@include font-size(24/16);
		margin-top: 22px;
		margin-bottom: 8px;
	}

	.project-types {
		@include font-size(1);
		font-weight: 500;
		margin: 0;

		a {
			color: $color__gray;

			&:hover {
				color: $color__dark;
			}
		}
	}

	&.loading {
		position: relative;
		min-height: 200px;

		.loading-screen {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #fff;
			z-index: 40;
		}

		.spinner {
			color: $color__dark;
			width: 40px;
			height: 40px;
			position: absolute;
			left: 50%;
			top: 160px;
			transform: translate(-50%, 0);
		}

		~ .navigation {
			opacity: 0;
		}
	}
}

.portfolio-projects--columns-2 {
	.project-header .project-title {
		@include font-size(34/16);
	}

	.project-types {
		@include font-size(18/16);
	}
}

.portfolio-projects--columns-3 {
	margin-left: -20px;
	margin-right: -20px;

	.hentry {
		width: 33.333%;
		padding-left: 20px;
		padding-right: 20px;
		margin-bottom: 32px;
	}

	.entry-title {
		@include font-size(24/16);
	}
}

.portfolio-projects--grid {
	display: flex;
	flex-wrap: wrap;

	+ .navigation {
		text-align: center;
		margin-top: 60px;
		margin-top: 60px;
		padding-top: 0;
	}
}

.next-projects-navigation {
	margin-bottom: 60px;
}