.konte-banner-grid {
	position: relative;

	.konte-banner-grid__banner {
		width: 50%;
		position: absolute;
	}

	.konte-banner-grid__banner1 {
		top: 0;
		left: 0;
		height: 59.24170%;
	}

	.konte-banner-grid__banner2 {
		top: 0;
		right: 0;
		height: 40.758294%;
	}

	.konte-banner-grid__banner3 {
		bottom: 0;
		left: 0;
		height: 40.758294%;
	}

	.konte-banner-grid__banner4 {
		bottom: 0;
		right: 0;
		height: 59.24170%;
	}

	&.gap-2 {
		margin: 0 -1px;

		.konte-banner-grid__banner {
			padding: 1px;
		}
	}

	&.gap-3 {
		margin: 0 -1.5px;

		.konte-banner-grid__banner {
			padding: 1.5px;
		}
	}

	&.gap-4 {
		margin: 0 -2px;

		.konte-banner-grid__banner {
			padding: 2px;
		}
	}

	&.gap-5 {
		margin: 0 -2.5px;

		.konte-banner-grid__banner {
			padding: 2.5px;
		}
	}

	&.gap-6 {
		margin: 0 -3px;

		.konte-banner-grid__banner {
			padding: 3px;
		}
	}

	&.gap-8 {
		margin: 0 -4px;

		.konte-banner-grid__banner {
			padding: 4px;
		}
	}

	&.gap-10 {
		margin: 0 -5px;

		.konte-banner-grid__banner {
			padding: 5px;
		}
	}

	&.gap-20 {
		margin: 0 -10px;

		.konte-banner-grid__banner {
			padding: 10px;
		}
	}

	&.gap-30 {
		margin: 0 -15px;

		.konte-banner-grid__banner {
			padding: 15px;
		}
	}

	&.gap-40 {
		margin: 0 -20px;

		.konte-banner-grid__banner {
			padding: 20px;
		}
	}
}

.konte-banner-grid__banner:hover {
	.konte-banner-grid__banner-image {
		transform: scale(1.1);
	}
}

.konte-banner-grid__banner-link,
.konte-banner-grid__banner-image {
	display: block;
	height: 100%;
}

.konte-banner-grid__banner-link {
	overflow: hidden;
	position: relative;
}

.konte-banner-grid__banner-image {
	background-color: $color__light;
	background-repeat: no-repeat;
	background-size: cover;
	transition: transform 1s;
}

.konte-banner-grid__banner-content {
	padding: 45px 60px 40px 60px;
	position: absolute;
	max-width: 100%;

	.konte-button {
		@include font-size(18/16);
		margin: 3px 0 20px;
	}

	.text-position-top-left & {
		top: 0;
		left: 0;
	}

	.text-position-top-center & {
		top: 0;
		left: 0;
		width: 100%;
		text-align: center;
	}

	.text-position-top-right & {
		top: 0;
		right: 0;
		text-align: right;
	}

	.text-position-left & {
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}

	.text-position-center & {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.text-position-right & {
		top: 50%;
		right: 0;
		transform: translateY(-50%);
	}

	.text-position-bottom-left & {
		bottom: 0;
		left: 0;
	}

	.text-position-bottom-center & {
		bottom: 0;
		left: 0;
		width: 100%;
		text-align: center;
	}

	.text-position-bottom-right & {
		bottom: 0;
		right: 0;
		text-align: right;
	}
}

.konte-banner-grid__banner-tagline {
	@include font-size(12/16);
	font-weight: 900;
	text-transform: uppercase;
	display: block;
	padding-top: 10px;
	margin-bottom: 10px;
}

.konte-banner-grid__banner-text {
	@include font-size(34/16);
	line-height: (60/34);
	display: block;
}