.konte-banner-countdown {
	position: relative;

	img {
		display: block;
		width: 100%;
	}

	.konte-countdown {
		text-align: center;
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 0 10px 32px 10px;
		width: 100%;
	}
}

.konte-banner-countdown__banner {
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 34px;
}

.konte-banner-countdown__tagline {
	@include font-size(12/16);
	font-weight: 600;
	text-transform: uppercase;
	margin: 0;
}

.konte-banner-countdown__text {
	@include font-size(40/16);
	font-weight: 500;
	line-height: 1.3;
	margin-bottom: 8px;
}
