.button {
	@include font-size(14/16);
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	padding: 0 40px;
	line-height: 40px;
	background-color: $color__dark;
	cursor: pointer;
	transition: 0.4s;

	&.large {
		line-height: 60px;
		padding: 0 80px;

		&.rounded {
			border-radius: 30px;
		}
	}

	&.medium {
		line-height: 50px;
		padding: 0 65px;

		&.rounded {
			border-radius: 25px;
		}
	}

	&.small {
		line-height: 32px;
		padding: 0 25px;

		&.rounded {
			border-radius: 16px;
		}
	}

	&.rounded {
		border-radius: 20px;
	}

	&.alt {
		color: $color__dark;
		border: 1px solid;
		background: transparent;

		&:hover {
			color: #fff;
			border-color: $color__dark;
			background: $color__dark;
		}
	}
}

.konte-button {
	@include font-size(12/16);
	font-weight: 600;
	text-transform: uppercase;
	display: inline-block;
	position: relative;
	transition: 0.4s;

	&.large {
		@include font-size(14/16);
	}

	&.button-normal {
		&:hover {
			background: #7f8487;
		}

		&.text-light {
			color: $color__dark;
			background-color: #fff;

			&:hover {
				box-shadow: 0 4px 16px 0 rgba(0,0,0,0.1);
			}
		}
	}

	&.button-outline {
		color: $color__dark;
		font-weight: 400;
		line-height: 38px;
		border: 1px solid;
		background: transparent;

		&:hover {
			color: #7f8487;
		}

		&.text-light {
			color: #fff;
		}

		&.large {
			line-height: 58px;
			font-weight: 500;
		}

		&.medium {
			line-height: 48px;
		}

		&.small {
			line-height: 32px;
		}
	}

	&.button-underline {
		text-transform: none;
		font-weight: 500;
		padding-bottom: 5px;

		&:after {
			content: "";
			border-bottom: 2px solid;
			position: absolute;
			bottom: 0;
		}

		&.large {
			@include font-size(18/16);
			padding-bottom: 4px;
		}

		&.medium {
			@include font-size(1);
		}

		&.normal {
			@include font-size(14/16);
			padding-bottom: 6px;
		}

		&.small {
			@include font-size(12/16);
		}
	}

	&.button-underline.underline-full:after {
		width: 100%;
		left: 0;
	}

	&.button-underline.underline-small:after {
		width: 20px;
		transition: width 0.4s;
	}

	&.button-underline.underline-left:after {
		left: 0;
	}

	&.button-underline.underline-center:after {
		left: 50%;
		transform: translateX(-50%);
	}

	&.button-underline.underline-right:after {
		right: 0;
	}

	&.button-underline.underline-small:hover:after {
		width: 100%;
	}

	&.align-left {
		float: left;
	}

	&.align-right {
		float: right;
	}
}

.konte-button-wrapper.text-center {
	text-align: center;
}
