.konte-countdown {
	text-transform: uppercase;

	&.type-small {
		.konte-countdown__box {
			padding: 0 20px;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}

		.time {
			@include font-size(24/16);
			font-weight: 500;
			padding-bottom: 15px;
		}

		.konte-countdown__box-label {
			@include font-size(11/16);
		}
	}

	&.type-inline {
		display: inline-block;

		.timers,
		.time,
		.konte-countdown__box,
		.konte-countdown__box-label {
			display: inline;
		}

		.konte-countdown__box {
			line-height: inherit;
			padding: 0;
			margin-right: 4px;
		}

		.time {
			padding-bottom: 0;
		}

		.time,
		.konte-countdown__box-label {
			margin-right: 4px;
			font-weight: 400;
			font-size: inherit;
		}
	}
}

.konte-countdown__box {
	line-height: 1;
	display: inline-block;
	padding: 0 35px;

	&:first-child {
		padding-left: 0;
	}

	&:last-child {
		padding-right: 0;
	}

	.time {
		@include font-size(48/16);
		display: block;
		padding-bottom: 20px;
	}
}

.konte-countdown__box-label {
	@include font-size(12/16);
	font-weight: 500;
	display: block;
	padding-left: 2px
}

.konte-countdown--align-center {
	text-align: center;

	.timers {
		display: inline-block;
	}
}

.konte-countdown--align-left {
	text-align: left;

	.timers {
		display: inline-block;
	}
}

.konte-countdown--align-right {
	text-align: right;

	.timers {
		display: inline-block;
	}
}