.konte-post-grid {
	margin-left: -20px;
	margin-right: -20px;

	.post {
		float: left;
		width: 33.3333%;
		padding: 0 20px;
		margin-bottom: 40px;

		img {
			margin-bottom: 24px;
			width: 100%;
		}

		.button {
			@include font-size(12/16);
			font-weight: 400;
			line-height: 38px;
			padding: 0 25px;
		}
	}

	.post-title {
		@include font-size(18/16);
		font-weight: 500;
		margin: 0 0 5px 0;
	}

	.post-summary {
		@include font-size(1);
		margin-bottom: 23px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2; /* number of lines to show */
		line-height: (24/16); /* fallback */
		max-height: (3*24/16); /* fallback */
	}

	&.columns-4 .post {
		width: 25%;
	}

	&.columns-gap-30 {
		margin-left: -15px;
		margin-right: -15px;

		.post {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	&.columns-gap-60 {
		margin-left: -30px;
		margin-right: -30px;

		.post {
			padding-left: 30px;
			padding-right: 30px;
		}
	}
}

.konte-post-carousel {
	overflow: hidden;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 40px;

	.post {
		margin-bottom: 0;
	}

	.slick-list {
		margin-left: -20px;
		margin-right: -20px;
	}

	.slick-dots {
		margin-top: 45px;
	}

	&.dots-left .slick-dots {
		text-align: left;
		margin-left: -7px;
	}

	&.dots-center .slick-dots {
		text-align: center;
	}

	&.dots-right .slick-dots {
		text-align: right;
		margin-right: -7px;
	}
}
