.konte-product-tabs {
	.konte-tabs__nav li {
		padding-bottom: 16px;
	}

	.konte-tabs__panels {
		&:before,
		&:after {
			content: "";
			position: absolute;
			z-index: -1;
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.7s;
		}

		&:before {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			// background: #fff;
		}

		&:after {
			top: 150px;
			left: 50%;
			margin-left: -15px;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			border: 2px solid;
			animation: spin infinite 1s linear;
			clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%, 50% 50%);
		}

		&.loading {
			min-height: 200px;

			&:before,
			&:after {
				visibility: visible;
				z-index: 10;
				opacity: 1;
			}

			.konte-tabs__panel {
				opacity: 0;
			}
		}
	}
}
