.konte-testimonial {
	overflow: hidden;
	display: flex;
	align-items: center;
}

.konte-testimonial__photo {
	float: left;
	padding-right: 60px;
	flex: 0 0 auto;

	img {
		display: block;
		width: 200px;
		height: auto;
	}
}

.konte-testimonial__content {
	margin-bottom: 30px;
}

.konte-testimonial__author {
	line-height: 1;
}

.konte-testimonial__name {
	@include font-size(24/16);
	font-weight: 500;
	display: block;
	margin-bottom: 14px;
}

.konte-testimonial__company {
	@include font-size(12/16);
	font-weight: 500;
	text-transform: uppercase;
	color: $color__gray;
	display: block;
}

.konte-testimonial__author-separator {
	display: none;
	color: $color__gray;
}

.konte-carousel {
	.konte-testimonial {
		display: flex;
	}

	.konte-testimonial__photo {
		padding-right: 40px;

		img {
			width: 120px;
		}
	}

	.konte-testimonial__content {
		@include font-size(1);
		line-height: (22/16);
	}

	.konte-testimonial__name {
		@include font-size(16/16);
		display: inline;
		margin-bottom: 0;
	}

	.konte-testimonial__company {
		@include font-size(10/16);
		display: inline;
	}

	.konte-testimonial__author-separator {
		display: inline-block;
		margin: 0 9px;
	}
}

.konte-testimonial-carousel {
	overflow: hidden;
	display: flex;
}

.konte-testimonial-carousel__photos {
	float: left;
	width: 720/1470*100%;

	img {
		object-fit: cover;
	}

	.slick-list,
	.slick-track {
		height: 100%;
	}
}

.konte-testimonial-carousel__content {
	color: #fff;
	float: left;
	width: 750/1470*100%;
	padding: 63px 120px 40px 100px;
	background: $color__dark;

	.konte-testimonials-title {
		@include font-size(40/16);
		margin: 0 0 134px 0;
	}

	.konte-testimonial__content {
		line-height: (30/18);
		margin-bottom: 70px;
	}

	.konte-testimonial__company {
		color: #fff;
	}

	.slick-dots {
		margin-top: 100px;

		li {
			margin: 0 10px;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}

		button {
			@include font-size(18/16);
			font-weight: 400;
			text-align: center;
			line-height: (30/18);
			height: auto;
			width: auto;
			min-width: 20px;
			padding: 0 0 3px 0;
			border-bottom: 2px solid transparent;

			&:before {
				display: none;
			}
		}

		.slick-active button {
			border-color: #fff;
		}
	}
}