@media (min-width: 1200px) {
	.header-v10 {
		background: transparent;
	}

	.header-mobile {
		display: none;
	}

	.mobile-menu-panel {
		display: none !important;
	}
}

@media (max-width: 1199px) {
	.konte-container,
	.konte-container-fluid {
		margin-left: 25px;
		margin-right: 25px;
	}

	.header-vertical .site,
	.header-vertical .site-footer.transparent {
		padding-left: 0 !important;
	}

	.header-main,
	.header-bottom {
		display: none;
	}

	.header-v10 {
		&.transparent {
			width: 100%;
			position: absolute;
		}

		&.header-sticky--normal,
		&.header-sticky--smart {
			width: 100%;
		}

		.site-branding {
			height: auto;
		}
	}

	.entry-header {
		.entry-thumbnail {
			&:after {
				position: static;
				width: auto;
				height: auto;
				background: transparent;
			}

			+ .post-info {
				margin-top: 0;
			}
		}
	}

	.social-share {
		a {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.blog-header-menu li {
		margin-left: 20px;
		margin-right: 20px;
	}

	.blog-header-title {
		padding-left: 30px;
		padding-right: 30px;
	}

	.blog-header-title .page-title {
		@include font-size(90/16);
	}

	.featured-content-carousel {
		.entry-header {
			padding: 60px;
		}

		.slick-next {
			right: 60px;
		}

		.slick-prev {
			right: 120px;
		}
	}

	.hfeed .hentry {
		&.post-large {
			display: block;
		}

		.post-thumbnail {
			margin-right: 30px;
			flex-shrink: 0;
		}

		.post-thumbnail + .entry {
			margin-left: 0;
		}

		.entry {
			min-height: 0;
		}

		.entry-title {
			@include font-size(26/16);
		}
	}

	.search .site-main article.product {
		display: flex;

		.post-thumbnail {
			margin-right: 30px;
			flex-shrink: 0;
		}

		.post-thumbnail + .entry {
			margin-left: 0;
		}

		.entry {
			min-height: 0;
		}

		.entry-title {
			@include font-size(26/16);
		}
	}

	.blog-grid .hentry {
		display: block;

		.post-thumbnail {
			margin-right: 0;
		}

		.entry-title {
			@include font-size(22/16);
		}
	}

	.hfeed.sidebar-left,
	.hfeed.sidebar-right {
		.hentry {
			&:before {
				@include clearfix();
			}

			&:after {
				@include clearfix();
				@include clearfix-after();
			}
		}
	}

	.single-page-header.title-none + .site-content-container,
	.single-page-header.title-above + .site-content-container {
		margin-top: 40px;
	}

	.page-template-split {
		.split-page-content .entry-content {
			padding-left: 60px;
		}

		.content-left .split-page-content .entry-content {
			padding-right: 60px;
		}
	}

	.flex_post {
		.mc4wp-form input[type=text],
		.mc4wp-form input[type=email],
		.mc4wp-form select {
			margin-right: 0;
			margin-bottom: 10px;
		}
	}

	.flex-post-title {
		@include font-size(30/16);
	}

	.portfolio-projects {
		.hentry {
			display: block;
		}
	}

	.konte-category-banner {
		&.align-left .konte-category-banner__category {
			left: -25px;
		}

		&.align-right .konte-category-banner__category {
			right: -5px;
		}
	}

	.konte-category-banner__title {
		@include font-size(34/16);
	}

	.konte-product-grid__title {
		@include font-size(46/16);
	}

	.konte-banner-grid__banner-content {
		padding: 30px 40px 40px 40px;
	}

	.konte-banner__content {
		padding: 30px;
	}

	.konte-carousel__slide-index {
		display: none;
	}

	.konte-carousel--free-mode {
		.slick-slide {
			max-width: 992px;
		}
	}

	.konte-product-masonry ul.products li.product .product-thumbnail {
		padding-bottom: 122.5%;
	}

	.footer-menu > li {
		padding: 0 15px;
	}

	.offscreen-panel {
		.panel-header,
		.panel-content {
			padding-left: 40px;
			padding-right: 40px;
		}

		.panel-header {
			padding-top: 35px;
		}

		.button-close {
			right: 38px;
			top: 28px;
		}
	}

	.modal {
		.modal-header {
			padding: 30px 40px;
		}

		.button-close {
			right: 38px;
			top: 28px;
		}
	}

	.search-modal {
		.search-form {
			.search-field {
				@include font-size(24/16);
			}
		}

		.quick-links {
			padding-bottom: 30px;
		}
	}

	.popup-modal .popup-modal-content {
		min-height: 0;
	}

	.split-page-content .konte-countdown.type-full {
		.timers {
			display: flex;
			justify-content: space-between;
		}

		.konte-countdown__box {
			padding-left: 0;
			padding-right: 0;
		}
	}

	.gotop {
		right: 40px;
		bottom: 40px;
	}
}
