@media (max-width: 1440px) {
	.konte-container {
		width: auto;
		max-width: 100%;
		margin-left: 45px;
		margin-right: 45px;
	}

	.no-sidebar.page .alignwide {
		max-width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	.featured-content.posts-carousel .konte-container {
		margin-left: 0;
		margin-right: 0;
	}

	.flex-post-background img {
		max-width: 100%;
	}

	.konte-product-carousel {
		.product-carousel-arrow.slick-prev {
			left: -60px;
		}

		.product-carousel-arrow.slick-next {
			right: -60px;
		}
	}

	.konte-instagram-carousel {
		.slick-prev {
			left: -80px;
		}

		.slick-next {
			right: -80px;
		}
	}

	.konte-product-grid__title {
		@include font-size(60/16);
	}

	.header-vertical .site {
		padding-left: 280px;
	}

	.header-vertical .site-footer.transparent {
		padding-left: 280px;
	}

	.header-v10 .site-header__container {
		margin-right: auto;

		.sticky,
		.headroom--not-top {
			padding-right: 15px;
		}
	}

	.sticky-socials,
	.sticky-scrolldown {
		display: none !important;
	}

	.konte-product-masonry ul.products li.product:nth-child(10n+2) .product-thumbnail,
	.konte-product-masonry ul.products li.product:nth-child(10n+6) .product-thumbnail {
		padding-bottom: 136.29412%;
	}
}
