@media (min-width: 992px) {
	.footer-widgets-flex .footer-widgets-area {
		&.col-md-4 {
			max-width: 33.33%;
		}
	}
}

@media (max-width: 991px) {
	.container {
		width: auto;
		margin-left: 25px;
		margin-right: 25px;
	}

	.konte-container,
	.konte-container-fluid {
		margin-left: 25px;
		margin-right: 25px;
	}

	.sidebar-left,
	.sidebar-right {
		.content-area,
		.widget-area {
			width: 100%;
			float: none;
		}

		.widget-area {
			margin-top: 60px;
			padding-left: 0;
			padding-right: 0;
		}

		.konte-container {
			.content-area,
			.widget-area {
				width: 100%;
			}

			.widget-area {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	.header-vertical .site {
		padding-left: 0 !important;
	}

	.blog-header-content .header-title {
		@include font-size(30/16);
	}

	.campaign-bar__campaigns {
		display: block;

		.konte-promotion {
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.blog-header-menu li {
		margin-left: 15px;
		margin-right: 15px;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	.blog-header-title {
		padding-left: 10px;
		padding-right: 10px;

		.page-title {
			@include font-size(60/16);
		}
	}

	.featured-content-carousel {
		.entry-header {
			padding: 40px;
		}

		.entry-title {
			@include font-size(30/16);
		}

		.slick-next {
			right: 40px;
			bottom: 40px;
		}

		.slick-prev {
			right: 100px;
			bottom: 40px;
		}

		&.carousel .entry-header {
			padding: 20px;
		}
	}

	.featured-posts .posts {
		display: flex;
		flex-wrap: wrap;

		.post {
			margin-bottom: 30px;
		}
	}

	.blog-grid .hentry {
		&.col-md-4:nth-child(3n+1) {
			clear: none;
		}

		&.col-sm-6:nth-child(2n+1) {
			clear: left;
		}
	}

	.no-sidebar .entry-header .post-info,
	.no-sidebar.single-post .content-area {
		width: auto;
	}

	.social-share {
		position: relative;

		.toggle-socials {
			position: static;
		}

		.social-list {
			top: 100%;
			width: 100%;
			padding: 0 10px 10px 10px;
			left: -10px;
			transform: translateY(10px);
			white-space: normal;
			background: #fff;

			a {
				display: inline-block;
				margin: 20px 20px 0 0;
			}
		}
	}

	.posts-slider-widget {
		.post-thumbnail img {
			width: 100%;
			height: auto;
		}
	}

	.page .page .entry-title,
	.single-page-header .entry-title {
		@include font-size(55/16);
	}

	.page .page .entry-subtitle,
	.single-page-header .page-titles .entry-subtitle {
		padding-left: 0;
		padding-right: 0;
	}

	.konte-testimonial-carousel {
		flex-wrap: wrap;
	}

	.konte-testimonial-carousel__photos,
	.konte-testimonial-carousel__content {
		width: 100%;
	}

	.konte-testimonial-carousel__content {
		padding: 40px;

		.konte-testimonials-title {
			margin-bottom: 30px;
		}

		.konte-testimonial__content {
			margin-bottom: 25px;
		}

		.slick-dots {
			margin-top: 40px;
		}
	}

	.page-template-split {
		.split-page {
			height: auto !important;
		}

		.split-page-featured {
			position: static;
			// height: 50%;
			height: 50vh;

			.entry-header {
				position: relative;
				width: 100%;
			}
		}

		.split-page-content {
			padding-top: 40px;
			padding-bottom: 40px;
			height: auto;

			.konte-container {
				height: auto;
			}

			.entry-content {
				max-height: none;
				width: 100%;
				margin: 0;
				padding: 0;
				float: none;
			}
		}

		.content-left .split-page-content .entry-content {
			padding-right: 0;
		}

		.site-footer {
			position: static;
		}
	}

	.maintenance-layout-split {
		.split-page-featured {
			display: none;
		}

		.split-page-content {
			padding-top: 40px;
			padding-bottom: 40px;
			height: 100%;

			.konte-container {
				min-height: 100%;
			}

			.entry-content {
				max-height: none;
				width: 100%;
				margin: 0;
				padding: 0;
				float: none;
			}
		}
	}

	.vc_toggle.vc_toggle_ {
		.vc_toggle_title,
		.vc_toggle_content {
			padding-right: 60px;
		}
	}

	.wpb-js-composer .vc_tta-accordion.vc_tta-style-classic.icon-right .vc_tta-panel .vc_tta-panel-title,
	.wpb-js-composer .vc_tta-accordion.vc_tta-style-classic.icon-right .vc_tta-panel .vc_tta-panel-body {
		padding-right: 60px;
	}

	.flex-posts-page-title {
		h1 {
			@include font-size(48/16);
		}
	}

	.flex-post-title {
		@include font-size(24/16);
		line-height: 1.25;
	}

	.portfolio-page-header--page_content {
		padding-bottom: 60px;
	}

	.portfolio-page-header--page_title {
		padding-bottom: 54px;
	}

	.portfolio-projects {
		margin-left: -20px;
		margin-right: -20px;

		.hentry {
			width: 50%;
			padding-left: 20px;
			padding-right: 20px;
			margin-bottom: 32px;
		}
	}

	.portfolio-project--layout-v2 {
		.project-header__container {
			> * {
				max-width: 100%;
			}
		}
	}

	.konte-category-banner {
		margin-bottom: 60px;
		padding: 0 20px;

		&.has-sub-image {
			padding-top: 60px;

			&.align-left {
				padding-right: 60px;
			}

			&.align-right {
				padding-left: 60px;
			}
		}

		&.align-left {
			.konte-category-banner__sub-image img {
				transform: translate(60px, -60px);
				float: right;
			}
		}

		&.align-right {
			.konte-category-banner__sub-image img {
				transform: translate(-60px, -60px);
			}
		}

		&.title-middle {
			.konte-category-banner__content {
				position: static;
				padding: 0;
				transform: none;
			}

			&.has-sub-image .konte-category-banner__content {
				margin-top: 0;
			}

			&.align-left {
				padding-right: 50px;

				.konte-category-banner__content {
					transform: none;
				}
			}

			&.align-right {
				padding-left: 50px;

				.konte-category-banner__link {
					padding-left: 0;
				}
			}
		}

		.konte-category-banner__sub-image img {
			max-width: 180px;
			max-height: 180px;
		}
	}

	.konte-category-banner__title {
		@include font-size(28/16);
	}

	.vc_row.vc_column-gap-40,
	.vc_row.vc_column-gap-60,
	.vc_row.vc_column-gap-120 {
		margin-left: -15px;
		margin-right: -15px;

		> .vc_column_container {
			padding: 30px 0;
		}
	}

	.konte-post-grid {
		&.columns-gap-60 {
			margin-left: -20px;
			margin-right: -20px;

			.post {
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	}

	.konte-subscribe-box .mc4wp-form-fields {
		flex-direction: column;

		input {
			flex: 0;
			width: 100%;
			margin: 0 0 15px 0;

			&:last-child {
				margin-bottom: 0;
			}
		}

		button,
		input[type=submit] {
			width: auto;
		}
	}

	.konte-subscribe-box__title {
		@include font-size(36/16);
	}

	.konte-product-grid {
		ul.products li.product {
			width: 50%;
		}
	}

	.konte-product-grid__title {
		@include font-size(56/16);
	}

	.konte-banner__text {
		font-size: 2.6em;
	}

	.konte-carousel--free-mode {
		.slick-slide {
			max-width: 690px;
		}
	}

	.konte-carousel--gap-40,
	.konte-carousel--gap-60,
	.konte-carousel--gap-90 {
		.slick-list {
			margin-left: -15px;
			margin-right: -15px;
		}

		.slick-slide {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.konte-product-masonry {
		ul.products {
			height: auto !important;

			li.product {
				width: 50%;
				position: static !important;

				&:nth-child(2n+1):last-child {
					display: none;
				}

				.product-inner .product-thumbnail {
					padding-bottom: 0;
				}

				.product-thumbnail {
					> a,
					> .slick-list {
						position: relative;
						top: 0;
						transform: none;
					}
				}
			}
		}
	}

	.konte-product-masonry__title {
		@include font-size(56/16);
	}

	.konte-post-grid .post,
	.konte-post-grid.columns-4 .post {
		width: 50%;
	}

	.konte-post-grid .post:nth-child(2n+1):last-child {
		display: none;
	}

	.konte-instagram > ul li {
		width: 25% !important;
	}

	.site-footer.transparent {
		position: static;
	}

	.footer-widgets {
		.footer-widgets-area {
			padding-left: 15px;
			padding-right: 15px;
			margin-bottom: 60px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.footer-widgets-flex {
		.row {
			flex-wrap: wrap;
		}

		.footer-widgets-area {
			width: 50%;

			&:last-child {
				text-align: left;
			}
		}
	}

	.footer-instagram {
		.instagram-feed li {
			width: 25%;

			&:nth-child(n+9) {
				display: none;
			}
		}

		.instagram-feed.columns-6 li {
			width: 25%;
		}
	}

	.footer-main {
		.footer-container {
			flex-direction: column;
		}

		.divider {
			flex: 0;
		}

		.footer-items {
			justify-content: center;
			text-align: center;
			padding: 10px 0;
		}

		.footer-left {
			order: 2;
		}

		.footer-right {
			justify-content: center;
		}
	}

	.popup-modal {
		.mc4wp-form-fields {
			flex-wrap: wrap;

			> * {
				margin: 0 0 15px 0;
			}
		}

		input,
		button,
		textarea,
		select {
			width: 100%;
		}

		input[type=text],
		input[type=email],
		select {
			margin-right: 0;
		}
	}
}
